.features

  &-wrapper
    //background: url(/features-bg.png) no-repeat
    background-position-y: bottom
    padding-bottom: 125px
    display: grid
    grid-template-columns: 26% 70%
    grid-column-gap: 100px
  &-items
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
  &-item
    background: #FFFFFF
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 5px 5px 20px #E6E6F0
    border-radius: 18px
    padding: 30px
    &__img
      text-align: center
    &__title
      font-weight: bold
      font-size: 24px
      margin-bottom: 10px
    &__text
      color: $color-text-grey
      font-size: 14px
      line-height: 18px
@media (max-width: 1270px)
  .features-wrapper
    grid-gap: 0
@media (max-width: 576px)
  .features
    & .section-title
      margin-bottom: 20px
    &-wrapper
      grid-template-columns: 1fr
    &-items
      grid-template-columns: 1fr

.features-block
  margin-bottom: 90px
  &__bg
    background: url(/features_bg.png) no-repeat center
    height: 776px
    margin-bottom: 150px
  &__top
    background: #FFFFFF
    box-shadow: 5px 5px 15px rgba(46, 46, 106, 0.16)
    border-radius: 18px
    display: flex
    align-items: center
    justify-content: space-evenly
    margin-bottom: 10px
    padding: 7px 0
    &--link
      position: relative
      font-size: 36px
      color: #CECFDF
      cursor: pointer
      font-weight: 700
      transition: all  .2s linear
      //margin-right: 160px

      &:last-child
        margin-right: 0
      &.linkActive
        color: $color-text-d-blue
        &::after
          transition: all  .2s linear
          position: absolute
          content: ''
          left: 0
          right: 0
          background: $color-text-d-blue
          border-radius: 4px
          height: 6px
          bottom: -10px

  &__inner
    &.grid
      display: grid
      grid-template-columns: repeat(auto-fill,minmax(330px,1fr))
      grid-gap: 20px