.steps
  //background: url(/tips.png) no-repeat
  background-position-x: 80%

  background-position-y: center
  margin-bottom: 125px
  //height: 1050px
  & .section-title
    margin-bottom: 75px
    max-width: 460px
    word-break: keep-all
  &-wrapper
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    align-items: center
    min-height: 566px
  &-item
    cursor: pointer
    background: #FFFFFF
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 5px 5px 20px #E6E6F0
    border-radius: 10px
    padding: 15px 35px
    max-width: 620px
    margin-bottom: 15px
    display: flex
    align-items: center
    justify-content: flex-start
    &.stepItemActive
      position: relative
      background: $color-text-d-blue
      & .steps-item
        &__num
          color: #FFFFFF
        &__group
          &--top
            color: #FFFFFF
          &--bottom
            color: #FFFFFF
      &::after
        position: absolute
        content: ''
        right: -10px
        top: 50%
        transform: translateY(-50%) rotate(45deg)
        width: 20px
        height: 20px
        background: $color-text-d-blue
    &:last-child
      margin-bottom: 0
    &__num
      margin-right: 45px
      color: $color-text-d-blue
      font-size: 30px
      line-height: 32px
      transition: all .2s linear
    &__group
      &--top
        font-weight: bold
        font-size: 24px
        margin-bottom: 5px
        transition: all .2s linear
      &--bottom
        color: $color-text-grey
        font-size: 14px
        line-height: 18px
        transition: all .2s linear
    &__image
      transition: all .2s linear
      min-height: 566px

@media (max-width: 576px)
  .steps
    background: none
    height: fit-content
    & .section-title
      margin-bottom: 20px
    &-wrapper
      grid-template-columns: 1fr
    &__items
      order: 2
    &__image
      min-height: 355px
      order: 1
  .stepItemActive
    &::after
     content: none !important
